{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": false,
        "singleQuote": true
      }
    },
    {
      "files": "*.sol",
      "options": { "explicitTypes": "preserve" }
    }
  ]
}
